body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color:  rgb(162, 243, 243);
}

header {
  text-align: left;
  padding: 5px;
  background-color: #333;
  color: white;
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNL1JVIdLLBKwfEVDmc9k0pfVRATFLhPGSDQ&usqp=CAU);
}

header img {
  width: 200px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 50px;
  margin:auto;
  background-color: rgb(162, 243, 243);
  max-width: 1000px;
}

.portfolio-item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: rgb(96, 137, 220);
}
.portfolio-text {
  padding: 15px;
}